body {
    background-color: #efefef;
    font-family: Arial, sans-serif;
    color: #333333; 
}

form {
    background-color: white;
    width: 600px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #cccccc;
}

h2 {
    color: red; 
    font-size: 20px;
}

label {
    font-weight: bold;
}

select {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

textarea {
    width: 90%;
    height: 80px;
    margin-top: 5px;
}